<footer class="footer">
  <p> &copy; <%= new Date().getFullYear(); %> Intrvrtcode &#x2022; Built with NodeJs and MongoDB</p>
  <a href="https://www.flaticon.com" title="icons">icons by -
    Flaticon</a>
</footer>