<h2 class="about__h2">Selamat datang di Blog Kami!</h2>
<hr />
<p class="about__p">
  Blog ini dibangun dengan menggunakan Node.js dan MongoDB untuk memberikan pengalaman membaca yang menarik dan
  interaktif bagi para pembaca. Kami berkomitmen untuk menyediakan konten berkualitas tinggi dan bervariasi yang
  mencakup berbagai topik menarik, mulai dari teknologi, bisnis, hiburan, gaya hidup, hingga wisata.
</p>
<p class="about__p">
  Website ini menggunakan Node.js sebagai platform pengembangan utama dan MongoDB sebagai database untuk menyimpan dan
  mengelola konten blog kami. Kami memilih kombinasi ini untuk memberikan kecepatan, skala, dan fleksibilitas yang
  dibutuhkan dalam mengelola dan mengirimkan konten dengan efisien.
</p>
<p class="about__p">
  Kami senang dapat berbagi pengetahuan dan pengalaman kami dengan Anda. Jangan ragu untuk menjelajahi berbagai artikel
  menarik yang telah kami sajikan di blog kami. Kami juga menyambut kontribusi dari pembaca kami. Jika Anda memiliki
  ide, artikel atau ingin berbagi pengetahuan Anda, jangan ragu untuk menghubungi kami melalui halaman kontak.
</p>
<p class="about__p">
  Terima kasih telah mengunjungi blog kami. Kami berharap Anda menikmati konten yang kami sajikan dan mendapatkan
  inspirasi serta informasi berharga dari kunjungan Anda di sini.
</p>
<p class="about__p" style="text-align: right;">
  Salam hangat,
</p>
<p class="about__p" style="text-align: right;">
  Tim Blog Kami
</p>
<h3 class="about__h3">Made with</h3>
<div class="create-by-icons">
  <span><i class="fa-brands fa-html5" style="color: #ff7800;"></i></span>
  <span><i class="fa-brands fa-css3-alt" style="color: #1c71d8;"></i></span>
  <span><i class="fa-brands fa-js" style="color: #f5c211;"></i></span>
  <span><i class="fa-brands fa-node" style="color: #26a269;"></i></span>
  <span><i class="fa-brands fa-npm" style="color: #c01c28;"></i></span>
</div>

<h3 class="about__h3">Find me on</h3>
<div class="find-me-icons">
  <a href="https://github.com/intrvrtcode" target="_blank"><i class="fa-brands fa-github"></i></a>
  <a href="https://www.instagram.com/intrvrtcode/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
  <a href="https://www.freecodecamp.org/Intrvrtcode" target="_blank"><i class="fa-brands fa-free-code-camp"></i></a>
</div>