<h2 class="about__h2">Welcome to my blog</h2>
<hr/>
<p class="about__p">Built with NodeJs and mongoDB, by following the net ninja's youtube playlist.</p>
<p class="about__p">This is the blog website that I created for the first time, if you have criticism and suggestions please <a href="mailto:aldirmd12@outlook.com">contact me</a>.</p>

<h3 class="about__h3">Made with</h3>
<div class="create-by-icons">
  <span><i class="fa-brands fa-html5" style="color: #ff7800;"></i></span>
  <span><i class="fa-brands fa-css3-alt" style="color: #1c71d8;"></i></span>
  <span><i class="fa-brands fa-js" style="color: #f5c211;"></i></span>
  <span><i class="fa-brands fa-node" style="color: #26a269;"></i></span>
  <span><i class="fa-brands fa-npm" style="color: #c01c28;"></i></span>
</div>

<h3 class="about__h3">Find me on</h3>
<div class="find-me-icons">
  <a href="https://github.com/intrvrtcode" target="_blank"><i class="fa-brands fa-github"></i></a>
  <a href="https://www.instagram.com/intrvrtcode/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
  <a href="https://www.freecodecamp.org/Intrvrtcode" target="_blank"><i class="fa-brands fa-free-code-camp"></i></a>
</div>