<div class="author">
  <h2 class="author__heading">Hi, I am Aldi</h2>
  <p class="author__body">Front-end web Developer</p>
</div>

<hr />
<p class="about__p">
  This blog is built using Node.js and MongoDB to provide an engaging and interactive reading experience for readers. We are committed to providing high-quality and varied content covering a variety of interesting topics, from technology, business, entertainment, lifestyle, to travel.
</p>
<p class="about__p">
  This website uses Node.js as the main development platform and MongoDB as a database to store and manage our blog content. We chose this combination to provide the speed, scale, and flexibility needed to efficiently manage and deliver content.
</p>
<p class="about__p">
  We are happy to share our knowledge and experience with you. Feel free to explore the various interesting articles that we have presented on our blog. We also welcome contributions from our readers. If you have ideas, articles or want to share your knowledge, feel free to contact us via the contact page.
</p>
<p class="about__p">
  Thank you for visiting our blog. We hope you enjoy the content we present and get inspiration and valuable information from your visit here.
</p>
<p class="about__p" style="text-align: right;">
  Warm regards,
</p>
<p class="about__p" style="text-align: right;">
  Our Blog Team
</p>

<hr />

<h3 class="about__h3">Made with</h3>
<div class="create-by-icons">
  <span><i class="fa-brands fa-html5" style="color: #ff7800;"></i></span>
  <span><i class="fa-brands fa-css3-alt" style="color: #1c71d8;"></i></span>
  <span><i class="fa-brands fa-js" style="color: #f5c211;"></i></span>
  <span><i class="fa-brands fa-node" style="color: #26a269;"></i></span>
  <span><i class="fa-brands fa-npm" style="color: #c01c28;"></i></span>
</div>

<h3 class="about__h3">Find me on</h3>
<div class="find-me-icons">
  <a href="https://github.com/intrvrtcode" target="_blank"><i class="fa-brands fa-github"></i></a>
  <a href="https://www.instagram.com/intrvrtcode/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
  <a href="https://www.freecodecamp.org/Intrvrtcode" target="_blank"><i class="fa-brands fa-free-code-camp"></i></a>
</div>