<div class="author">
  <h1 class="author__heading">Search Results</h1>
</div>

<section class="articles">

  <ul class="article-ul">

    <% data.forEach(post=> { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span>
            <%= post.title %> <i class="fa-solid fa-arrow-up-right-from-square" style="color: #5e5c64;"></i>
          </span>
          <span class="article-list__date">
            <%= post.createdAt.toDateString() %>
          </span>
        </a>
      </li>
      <% }) %>

        <% if (data.length===0) { %>
          <div class="no-results">
            <img src="/img/no-results.png" />
            <p>- no articles found -</p>
          </div>
          <% } %>

  </ul>

</section>